[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"

[packages]
pillow = "==6.1.0"
pyautogui = "==0.9.45"
pyobjc = "==5.2"
pyobjc-core = "==5.2"
pyobjc-framework-accounts = "==5.2"
pyobjc-framework-adsupport = "==5.2"
pyobjc-framework-applescriptobjc = "==5.2"
pyobjc-framework-automator = "==5.2"
pyobjc-framework-avfoundation = "==5.2"
pyobjc-framework-avkit = "==5.2"
pyobjc-framework-businesschat = "==5.2"
pyobjc-framework-calendarstore = "==5.2"
pyobjc-framework-cfnetwork = "==5.2"
pyobjc-framework-cocoa = "==5.2"
pyobjc-framework-collaboration = "==5.2"
pyobjc-framework-contactsui = "==5.2"
pyobjc-framework-coreaudiokit = "==5.2"
pyobjc-framework-corebluetooth = "==5.2"
pyobjc-framework-coredata = "==5.2"
pyobjc-framework-corelocation = "==5.2"
pyobjc-framework-coremedia = "==5.2"
pyobjc-framework-coremediaio = "==5.2"
pyobjc-framework-coretext = "==5.2"
pyobjc-framework-cryptotokenkit = "==5.2"
pyobjc-framework-discrecording = "==5.2"
pyobjc-framework-diskarbitration = "==5.2"
pyobjc-framework-dvdplayback = "==5.2"
pyobjc-framework-eventkit = "==5.2"
pyobjc-framework-externalaccessory = "==5.2"
pyobjc-framework-findersync = "==5.2"
pyobjc-framework-fsevents = "==5.2"
pyobjc-framework-gamecenter = "==5.2"
pyobjc-framework-gamekit = "==5.2"
pyobjc-framework-gameplaykit = "==5.2"
pyobjc-framework-imserviceplugin = "==5.2"
pyobjc-framework-inputmethodkit = "==5.2"
pyobjc-framework-installerplugins = "==5.2"
pyobjc-framework-instantmessage = "==5.2"
pyobjc-framework-intents = "==5.2"
pyobjc-framework-iosurface = "==5.2"
pyobjc-framework-ituneslibrary = "==5.2"
pyobjc-framework-launchservices = "==5.2"
pyobjc-framework-libdispatch = "==5.2"
pyobjc-framework-mapkit = "==5.2"
pyobjc-framework-mediaplayer = "==5.2"
pyobjc-framework-modelio = "==5.2"
pyobjc-framework-multipeerconnectivity = "==5.2"
pyobjc-framework-naturallanguage = "==5.2"
pyobjc-framework-netfs = "==5.2"
pyobjc-framework-network = "==5.2"
pyobjc-framework-networkextension = "==5.2"
pyobjc-framework-photos = "==5.2"
pyobjc-framework-preferencepanes = "==5.2"
pyobjc-framework-pubsub = "==5.2"
pyobjc-framework-qtkit = "==5.2"
pyobjc-framework-quartz = "==5.2"
pyobjc-framework-safariservices = "==5.2"
pyobjc-framework-scenekit = "==5.2"
pyobjc-framework-screensaver = "==5.2"
pyobjc-framework-searchkit = "==5.2"
pyobjc-framework-servicemanagement = "==5.2"
pyobjc-framework-spritekit = "==5.2"
pyobjc-framework-syncservices = "==5.2"
pyobjc-framework-usernotifications = "==5.2"
pyobjc-framework-videosubscriberaccount = "==5.2"
pyobjc-framework-videotoolbox = "==5.2"
pyobjc-framework-webkit = "==5.2"
pyscreeze = "==0.1.22"
pytweening = "==1.0.3"
PyGetWindow = "==0.0.6"
PyMsgBox = "==1.0.7"
pyobjc-framework-AddressBook = "==5.2"
pyobjc-framework-AppleScriptKit = "==5.2"
pyobjc-framework-ApplicationServices = "==5.2"
pyobjc-framework-CloudKit = "==5.2"
pyobjc-framework-ColorSync = "==5.2"
pyobjc-framework-Contacts = "==5.2"
pyobjc-framework-CoreAudio = "==5.2"
pyobjc-framework-CoreML = "==5.2"
pyobjc-framework-CoreServices = "==5.2"
pyobjc-framework-CoreSpotlight = "==5.2"
pyobjc-framework-CoreWLAN = "==5.2"
pyobjc-framework-DictionaryServices = "==5.2"
pyobjc-framework-DiscRecordingUI = "==5.2"
pyobjc-framework-ExceptionHandling = "==5.2"
pyobjc-framework-GameController = "==5.2"
pyobjc-framework-ImageCaptureCore = "==5.2"
pyobjc-framework-LatentSemanticMapping = "==5.2"
pyobjc-framework-LocalAuthentication = "==5.2"
pyobjc-framework-MediaAccessibility = "==5.2"
pyobjc-framework-MediaLibrary = "==5.2"
pyobjc-framework-MediaToolbox = "==5.2"
pyobjc-framework-NotificationCenter = "==5.2"
pyobjc-framework-OpenDirectory = "==5.2"
pyobjc-framework-OSAKit = "==5.2"
pyobjc-framework-PhotosUI = "==5.2"
pyobjc-framework-ScriptingBridge = "==5.2"
pyobjc-framework-Security = "==5.2"
pyobjc-framework-SecurityFoundation = "==5.2"
pyobjc-framework-SecurityInterface = "==5.2"
pyobjc-framework-Social = "==5.2"
pyobjc-framework-StoreKit = "==5.2"
pyobjc-framework-SystemConfiguration = "==5.2"
pyobjc-framework-Vision = "==5.2"
PyRect = "==0.1.4"

[requires]
python_version = "3.7"
